body{
    padding: 0;
    margin: 0;
    background: url('../../image/weeks.avif');
    background-size: cover;
}
.days ul{
    margin: 0  4% 4% 4%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
}
.day{
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 4%;
    width: 400px;
   height: 400px;
   justify-content: center;
   align-items: center;
   display: flex;
   border-radius: 30px;
   color: white;
   background:  rgba(25, 25, 26 , .9);
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7), 0 16px 56px rgba(0, 0, 0, 0.7), 0 24px 80px rgba(0, 0, 0, 0.7);
   
   list-style: none;
   

}
.day a{
 text-decoration: none;
 color: white; 
 font-size: 50px; 
 width: 100%; 
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
}